*~
*.autosave
build
/Wikivortrag/Wiki-Schulung.aux
/Wikivortrag/Wiki-Schulung.idx
/Wikivortrag/Wiki-Schulung.log
/Wikivortrag/Wiki-Schulung.nav
/Wikivortrag/Wiki-Schulung.out
/Wikivortrag/Wiki-Schulung.snm
/Wikivortrag/Wiki-Schulung.synctex.gz
/Wikivortrag/Wiki-Schulung.toc
/Wikivortrag/auto/Wiki-Schulung.el
